.button-container {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    /* Optional: Add some space between buttons */
}

.small-button {
    width: 40px;
    /* Adjust the width as needed */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}