/* MainLayout.css */
.main-layout {
  display: flex;
  height: 100vh;
}

.navbar {
  width: 250px; /* Fixed width for NavBar */
  flex-shrink: 0; /* Prevent NavBar from shrinking */
  position: fixed; /* Fix the NavBar to the left side */
  top: 0;
  left: 0;
  height: 100vh; /* Full height of the viewport */
  background-color: #333; /* Background color of the navbar */
  padding: 20px; /* Padding around the navbar */
  box-sizing: border-box; /* Ensure padding is included in the width and height */
}

.content {
  flex-grow: 1; /* Take up remaining space */
  padding: 20px;
  margin-left: 250px; /* Offset by the width of the navbar */
  overflow-y: auto;
  box-sizing: border-box; /* Include padding in width and height calculations */
  background-color: #2a2a2a; /* Background color of the content area to match the body */
  color: #fff; /* Text color */
}
