{
  "profiles": {
    "{{projectName}} (Package)": {
      "commandName": "MsixPackage",
      "nativeDebugging": true
    },
    "{{projectName}} (Unpackaged)": {
      "commandName": "Project",
      "nativeDebugging": true
    }
  }
}