{
  "profiles": {
    "{{projectName}} (Unpackaged)": {
      "commandName": "Project",
      "nativeDebugging": true,
      "environmentVariables": {
        "DOTNET_ENVIRONMENT": "Development"
      }
    }
  }
}