.element-container {
    display: flex;
}

.align-left {
    justify-content: flex-start;
}

.align-center {
    justify-content: center;
}

.align-right {
    justify-content: flex-end;
}

.custom-button {
    border: none;
}

.settings-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.color-input {
    width: 100%;
    border-radius: 4px;
    height: 35px;
}

.spin-button {
    width: 95%;
}

.text-input {
    width: 100%;
}