/* container.css */
.container {
  display: flex;
  flex: 1; /* Allow it to grow and fill the available space */

}

.container-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  outline-width: 1px;
  outline-color: #676767;
  padding: 40px;
  border-radius: 10px;
      flex-grow: 1;

}

.arrow-icon {
  font-size: 21px;
  padding-right: 5px;
}

.text-center {
  text-align: center;
}
