 body {
    background-color: #2a2a2a; /* Background color for the entire page */
    color: #fff; /* Default text color */
    font-family: Arial, sans-serif; /* Default font */
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12%; /* Width of the sidebar */
    background-color: #333; /* Background color of the navbar */
    padding: 20px; /* Padding around the navbar */
    height: 100vh; /* Full height of the viewport */
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .navbar li {
    width: 100%;
    margin-bottom: 10px;
    list-style-type: none;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff; /* White text */
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Transition effect for hover */
  }
  
  .navbar a.active {
    background-color: #444; /* Highlighted background for the active link */
  }
  
  .navbar a:hover {
    background-color: #555; /* Darker background on hover */
  }
  
  .navbar .icon {
    margin-right: 10px; /* Space between the icon and text */
  }

